@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only keep font imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

/* Global heading styles */
@layer components {
  h1 {
    @apply text-3xl font-bold text-gray-900;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.02em;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-900;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.02em;
  }

  h3 {
    @apply text-xl font-medium text-gray-700;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.02em;
  }

  .viet {
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .green {
    color: #00341c;
  }
}

@layer base {
  button, 
  input[type='button'], 
  input[type='reset'], 
  input[type='submit'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: initial;
    background-image: initial;
  }
}

